html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.nav {
  margin-bottom: 500px;
  overflow: hidden;
}
.nav-link {
  padding-left: 0;
  padding-right: 0;
}

.con {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
}

.col-1 {width: 8.33%;   }
.col-2 {width: 16.66%;  }
.col-3 {width: 25%;     }
.col-4 {width: 33.33%;  }
.col-5 {width: 41.66%;  }
.col-6 {width: 50%;     }
.col-7 {width: 58.33%;  }
.col-8 {width: 66.66%;  }
.col-9 {width: 75%;     }
.col-10 {width: 83.33%; }   
.col-11 {width: 91.66%; }
.col-12 {width: 100%;   } 

[class*="col-"] {
  float: left;
  padding-top: 10px;
  background-color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(
    8deg,
    rgb(255, 0, 65),
    rgba(140, 45, 230, 1),
    rgba(140, 45, 230, 1)
  );
  border-image-slice: 1;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 50px;
}
.space {
  margin-bottom: 75px;
}

img {
  max-width: 90;
  height: auto;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: flex;
  align-items: flex-start;
  flex: 1;
  justify-content: center;
  color: rgba(140, 45, 230, 0.5);
  box-shadow: 10px 10px 8px rgba(60, 20, 100, 0.75);
  align-items: center;
  justify-content: center;
  background-color: black;
  border-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(
    8deg,
    rgb(255, 0, 65),
    rgba(140, 45, 230, 1),
    rgba(140, 45, 230, 1)
  );
  border-image-slice: 1;
}

.video {
  width: 100%;
  animation: shrink 6s forwards;
  margin-top: -100px;
  padding-bottom: 1px;
}

.video_2 {
  width: 20%;
  animation: move_right 4s forwards;
  padding-bottom: 5px;
  margin-top: -100px;
}

.tag_line {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  justify-content: center;
  display: flex;
  opacity: 0;
  animation: reveal 6s forwards;
  min-height: 50px;
}

.tag_line_2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  animation: reveal 4s forwards;
  min-height: 50px;
}

@keyframes shrink {
  0% {width: 100%;transform: translateX(0%);}
  80% {width: 100%;transform: translateX(0%);}
  90% {width: 20%;transform: translateX(0%);}
  100% {width: 20%;transform: translateX(399%);}
}

@keyframes move_right {
  0% {transform: translateX(0%);}
  90% {transform: translateX(0%);}
  100% {transform: translateX(399%);}
}

@keyframes reveal {
  95% {left: 0%;opacity: 0;}
  100% {left: 100%;opacity: 1;}
}
